.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/external/*
!data/external/.gitkeep

models/*
!models/.gitkeep
outputs/figures/*
!outputs/figures/.gitkeep
outputs/predictions/*
!outputs/predictions/.gitkeep
